VITE_SUPABASE_URL=https://bdcrkfegtlzjhqyjwqdn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkY3JrZmVndGx6amhxeWp3cWRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3ODY0MTYsImV4cCI6MjA5MjM2MjQxNn0.tnkrUCi-G_c7bTGpAtwKvHzPIpt__5RkrhtPsBipyqk
